<!DOCTYPE html>
<html>
<head>
  <title>Gallery</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
      	<div class="nav-collapse collapse navbar-responsive-collapse">
          <ul class="nav pull-right">
            <% if user_signed_in? %>
	          <li class="dropdown">
	              <a class = "dropdown-toggle" data-toggle="dropdown"  href = "#"> <%= current_user.email %></a>
	              <ul class = "dropdown-menu">
	               <li>
	                  <a rel="nofollow" data-method="delete" href = "/users/sign_out" ><i class = "icon-off">Logout</i></a>
	                </li>
	              </ul>      
	          </li>
	        <%end%>
          </ul>
        </div>
      </div>
    </div>
  </div>
<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
